{% extends 'base.html' %} {% block title %} Feed Back - A.B projects Zone {% endblock title %} {% block body %}


<div class="flex items-center justify-center p-12">
    <!-- Author: FormBold Team -->
    <!-- Learn More: https://formbold.com -->
    <div class="mx-auto w-full max-w-[550px]">
        <form action="/feedback/" method="POST">
            <h1 class="font-large text-center border-b-2 border-teal-600 mb-10 pb-4 title-font text-lg">Share Your Feed Back</h1>
            {% csrf_token %}
            <div class="mb-5">
                <label for="name" class="mb-3 block text-base font-medium text-[#07074D]">
			Full Name
		  </label>
                <input type="text" required name="name" id="name" placeholder="Full Name" class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
            </div>

            <div class="mb-5">
                <label for="message" class="mb-3 block text-base font-medium text-[#07074D]">
			Message
		  </label>
                <textarea rows="4" name="msg" required id="message" placeholder="Type your message" class="w-full resize-none rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"></textarea>
            </div>
            <div>
                <button class="hover:shadow-form rounded-md text-teal-100 bg-teal-600 hover:bg-teal-900 hover:text-teal-300 py-3 px-8 text-base font-semibold outline-none">
			Submit
		  </button>
            </div>
        </form>
    </div>
</div>
{% endblock body %}