{% extends 'base.html' %}
<div class="mx-auto w-full max-w-[550px]">
	<form action="/mysirg2881928/" method="POST">
<div class="mb-5">
	<label for="name" class="mb-3 block text-base font-medium text-[#07074D]">
User Name
</label>
	<input type="text" required name="name" id="name" placeholder="User Name" class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
</div>
<div class="mb-5">
	<label for="password" class="mb-3 block text-base font-medium text-[#07074D]">
Password
</label>
	<input type="password" name="password" id="password" placeholder="Password" class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
</div>
<div>
	<button class="hover:shadow-form rounded-md text-teal-100 bg-teal-600 hover:bg-teal-900 hover:text-teal-300 py-3 px-8 text-base font-semibold outline-none">
Login
</button>
</div>
</form>
</div>